* {
    padding: 0px;
    margin: 0px;
}

body{
    background-image: url("/assets/images/qbkls.png");
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

input{
    display: block;
    margin-bottom: 12px;
    padding: 4px 30px;
}

.full-container{
    display: grid;
    grid-template-columns: 1fr 960px 1fr;
    grid-template-rows: 60px 2fr 80px;
    grid-gap: 0px;
    height: 100%;
}

.header{
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 320px 320px 320px 1fr;
}

.name-box{
    color: white;
    background-color: #4aaaa5;
    grid-column: 2 / 3;
    height: 60px;
}

.nav-bar{
    grid-column: 4 / 5;
    font-size: 18px;
    text-align: center;  
}

a{
    color: #777;
    text-decoration: none;
    padding: 0px 15px;
    line-height: 60px;
}

.about-me{
    background-color: white;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-top: 25px;
    color: #777;
    padding: 35px;
}

.about-me:after{
    content: "";
    display: block;
    clear: both;
}

.about-heading{
    padding: 25px;
    font-size: 2.5em;
    color: #4aaaa5;
}

hr{
    margin: 3px;
}

.family-photo{
    max-width: 25%;
    min-width: 300px;
    float: left;
    margin: 15px;

}

p{
    margin: 15px;
}

footer{
    grid-column: 1 / -1;
    grid-row: 4 / 5;
    background-color: #777777;
    padding: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border-top: 7px solid #4aaaa5;
    height: 60px;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.copyright{
    color: #fff;
    text-align: center;
    position: relative;
    top: 33px;
    grid-column: 3 / 4;
    
}

.message{
    padding: 90px 300px;
}

.submit-button{
    background-color: #4aaaa5;
    color: #fff;
    padding: 4px 20px;
}

.name-label{
    margin-top: 30px;
}

.thumb{
    float: left;
    max-width: 22.5%;
    margin: 5px 1%;
    border: 1px solid black;

}

.thumb-img{
    height: 160px;
    max-width: 100%;
}

.img-banner{
    background-color: #4aaaa5;
    color: #fff;
    padding: 8px 53.5px;
    position: relative;
    bottom: 40px;
}

.clearfix:after{
    content: "";
    display: block;
    clear: both;
}


@media screen and (max-width: 980px)
{
    .full-container{
        grid-template-columns: 1fr 748px 1fr;

    }

    .header{
        grid-template-columns: 4fr 1fr 2fr;
    }

    .name-box{
        grid-column: 1 / 2;
    }

    .message{
        padding: 90px 200px;
    }

}

@media screen and (max-width: 768px)
{
    .full-container{
        grid-template-columns: 1fr 640px 1fr;
    }

    .header{
        grid-template-columns: 220px 1fr;
    }

    .nav-bar{
        grid-column: 2 / 3;
    }
}

@media screen and (max-width: 640px)
{
    .full-container{
        grid-template-columns: 100%;
        grid-template-rows: 120px 2fr 80px;
    
    }

    .header{
        grid-template-columns: 1fr;
        grid-template-rows: 3fr 2fr;
    }

    .name-box{
        grid-column: 1 / 2;
        grid-row: 1 /2;
    }

    .nav-bar{
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .about-me{
        grid-column: 1 / 2;
    }

    .message{
        padding: 0px;
    }

    footer{
        position: fixed;
        bottom: 0px;    
    }

    .family-photo{
        float: none;
        max-width: 80%;
    }
}